.imageHoverStyle {
    transition-duration: 0.5s;
    position: relative;
    display: inline-block;
    transition: transform 0.2s, box-shadow 0.2s;
}

.imageHoverStyle:hover {
    transition-duration: 0.5s;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}