<div class="container mt-3">
    <h1>Top 10 Cars</h1>
    <hr>

    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">Photo</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars">
                <th scope="row">{{car.id}}</th>
                <td>{{car.name}}</td>
                <td>{{car.model}}</td>
                <td> <img width="100" height="70" src="{{car.image}}" alt="car"></td>
                <td>{{car.price}}</td>
            </tr>
        </tbody>
    </table>

</div>